@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// COLORS
$Primary--color: #f4f6f8;
$Secondary--color: #d4d5d6;

$grey: #8a959f;

// TYPOGRAPHY
$Primary--font: "Montserrat", sans-serif;
$fs-200: 0.9rem;
$fs-300: 1rem;
$fs-400: 1.125rem;
$fs-500: 1.25rem;
$fs-600: 1.5rem;
$fs-700: 1.75rem;
$fs-800: 2rem;
$fs-900: 5rem;

// GENERAL
$Border: 1px solid $Secondary--color;
$Border--radius: 0.3em;
$transition: 0.2s ease-in-out;

$Base--margin: 1em;
$Base--padding: 1em;

$Box--Shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
